<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mercado Liebre-Argentina</title>
    <link rel="icon" href="/images/favicon.ico">
    <link rel="stylesheet" href="/css/styles.css">
    <script
      src="https://kit.fontawesome.com/291ac0831b.js"
      crossorigin="anonymous"></script>
  </head>
  <body>
    <header>
      <img src="/images/logo-mercado-liebre.svg" alt="logo de mercado liebre" />
      <nav class="searchBar">
        <form action="">
          <input type="text" placeholder="Buscar productos, marcas" />
          <button><i class="fa-solid fa-magnifying-glass"></i></button>
          <p class="compraEnCuotas"> <i class="fa-solid fa-hand-holding-dollar"></i></i>Comprá en cuotas y sin tarjeta de credito</p>
        </form>
      </nav>
      
      <nav class="navBar">
        <ul>
          <a href="#"><li>Ofertas</li></a>
          <a href="#"><li>Tiendas Oficiales</li></a>
          <a href="#"><li>Vender</li></a>
          <a href="#"><li>Ayuda</li></a>
        </ul>
      </nav>
      
      <nav class="loginBar">
        <ul>
          <li>Creá tu cuenta<i class="far fa-id-card"></i></li>
          <li>Ingresá<i class="fa-solid fa-right-to-bracket"></i></li>
          <li>Mis compras<i class="fas fa-shopping-cart"></i></li>
        </ul>
      </nav>
      <div class="burger-menu"><i class="fa-solid fa-bars fa-lg"></i></div>
    </header>
    <img class="banner" src="/images/img-home-banner.jpg" alt="banner home"/>
    <main>
      <section>
        <h3 class="main_titulos">Basado en tu última visita</h3>
        <article class="main_section_article">
          <img src="/images/img-cafetera-moulinex.jpg" alt="imagen de cafetera" />
          <div class="main_section_article_div">
            <i class="fa-solid fa-truck fa-lg" style="color: #00ad58;"></i>
            <p class="precio">$6.770</p>
            <p>40% OFF</p>
            <h4>Cafetera Moulinex</h4>
          </div>
        </article>
        <article class="main_section_article">
          <img src="/images/img-macbook-pro-2019.jpg" alt="imagen de macbook" />
          <div class="main_section_article_div">
            <i class="fa-solid fa-truck fa-lg" style="color: #00ad58;"></i>
            <p class="precio">$230.000</p>
            <p>20% OFF</p>
            <h4>MacBook Pro 2019</h4>
          </div>
          
        </article>
        <article class="main_section_article">
          <img src="/images/img-samsung-galaxy-s10.jpg" alt="imagen de celular" />
          <div class="main_section_article_div">
            <i class="fa-solid fa-truck fa-lg" style="color: #00ad58;"></i>
            <p class="precio">$70.500</p>
            <p>10% OFF</p>
            <h4>Samsung Galaxy S10</h4>
          </div>
          
        </article>
        <article class="main_section_article">
          <img src="/images/img-tv-samsung-smart.jpg" alt="imagen de smart tv" />
          <div class="main_section_article_div">
            <i class="fa-solid fa-truck fa-lg" style="color: #00ad58;"></i>
            <p class="precio">$23.200</p>
            <p>5% OFF</p>
            <h4>SmartTv Samsung 43"</h4>
          </div>
          
        </article>
      </section>
      <section>
        <h3 class="main_titulos">Ofertas</h3>
        <article class="main_section_article">
          <img src="/images/img-cafetera-moulinex.jpg" alt="imagen de cafetera" />
          <div class="main_section_article_div">
            <i class="fa-solid fa-truck fa-lg" style="color: #00ad58;"></i>
            <p class="precio">$6.770</p>
            <p>40% OFF</p>
            <h4>Cafetera Moulinex</h4>
          </div>
          
        </article>
        <article class="main_section_article">
          <img src="/images/img-macbook-pro-2019.jpg" alt="imagen de macbook" />
          <div class="main_section_article_div">
            <i class="fa-solid fa-truck fa-lg" style="color: #00ad58;"></i>
            <p class="precio">$230.000</p>
            <p>20% OFF</p>
            <h4>MacBook Pro 2019</h4>
          </div>
         
        </article>
        <article class="main_section_article">
          <img src="/images/img-samsung-galaxy-s10.jpg" alt="imagen de celular" />
          <div class="main_section_article_div">
            <i class="fa-solid fa-truck fa-lg" style="color: #00ad58;"></i>
            <p class="precio">$70.500</p>
            <p>10% OFF</p>
            <h4>Samsung Galaxy S10</h4>
          </div>
         
        </article>
        <article class="main_section_article">
          <img src="/images/img-tv-samsung-smart.jpg" alt="imagen de smart tv"/>
          <div class="main_section_article_div">
            <i class="fa-solid fa-truck fa-lg" style="color: #00ad58;"></i>
            <p class="precio">$23.200</p>
            <p>5% OFF</p>
            <h4>SmartTv Samsung 43"</h4>
          </div>
          
        </article>
      </section>
    </main>
    <footer>
      <section>
        <article>
          <i class="fa-solid fa-credit-card"></i>
          <h5>Pagá con tarjeta o en efectivo</h5>
          <p>
            Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o
            efectivo en puntos de pago. ¡Y siempre es seguro!
          </p>
        </article>
        <article>
          <i class="fa-solid fa-gift"></i>
          <h5>Envío gratis desde $ 2.500</h5>
          <p>
            Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en
            miles de productos. Es un beneﬁcio de Mercado Puntos.
          </p>
        </article>
        <article>
          <i class="fa-solid fa-user-shield"></i>
          <h5>Seguridad, de principio a ﬁn</h5>
          <p>
            ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no
            puedas hacer, porque estás siempre protegid@.
          </p>
        </article>
        <article>
          <h5>Copyright © 1999-2020 MercadoLiebre S.R.L.</h5>
        </article>
      </section>
    </footer>
  </body>
</html>
