<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <title>Document</title>
</head>
<body class="register-body">
    <main class="register-main-body">
        <form action="">
            <input class="datos_personales" type="text" placeholder="Nombre y Apellido">
            <input class="datos_personales" type="text" placeholder="Nombre de Usuario">
            <input class="datos_personales" type="email" placeholder="E-mail">
    
            <label class="titulos" for="fecha_nacimiento">Fecha de Nacimiento</label>

            <input class="datos_personales" id="fecha_nacimiento" type="date">
            <input class="datos_personales" type="text" placeholder="Domicilio">

            <label class="titulos" for="perfil_usuario">Perfil del usuario</label>
            
            <label class="label-perfil">
                <input class="perfil-interes" type="radio"id="perfil_usuario" name="perfil"  value="comprador">Comprador
                <input class="perfil-interes"  type="radio" id="perfil_usuario" name="perfil"  value="vendedor">Vendedor
            </label>
    
            <label class="titulos" for="intereses">Intereses</label>
            <label>
                <input class="perfil-interes" type="checkbox" id="intereses" name="interes" value="electro">electro
            </label>
            <label>
                <input class="perfil-interes" type="checkbox" id="intereses" name="interes" value="moda" >moda
            </label>
            <label>
                <input class="perfil-interes" type="checkbox" id="intereses" name="interes" value="hogar" >hogar
            </label>
            <label>
                <input class="perfil-interes" type="checkbox" id="intereses" name="interes" value="jugueteria" >jugueteria
            </label>
            <label>
                <input class="perfil-interes" type="checkbox" id="intereses" name="interes" value="vida_sana" >vida sana
            </label>
        </form>
        
        
    </main>
</body>
</html>