@media(min-width:360px){
    header{
        background-color: var(--Amarillo);
        padding-bottom: 20px;
    }
    .banner{
        width: 100vw;
    }

    header img {
        width: 40%;
        padding-top: 30px;
        padding-left: 30px;
    }
    input{
        display: block;
        width: 150px;
    }
    form {
        padding-left: 30px;
        margin-top: 10px;
    }
   
    nav{
        margin-top: 15px;
    }
    .burger-menu{
        background-color: var(--Celeste);
        color: white;
        margin: 0 auto ;
        padding: 5px;
        border-radius: 3px;
        display:block;
        width: 25px;
        height: 25px;   
    }
}
@media(min-width:860px){
    header{
        background-color: red;
    }

}