/*---------- Estilos Header ---------*/
    header{
        background-color: var(--Amarillo);
        padding: 20px;

    }
    .banner{
        width: 100vw;
    }
    
    .copy-header{
        font-weight: 400;
        text-align: center;
        margin-bottom: 15px;
    }
    .hamburguer-button{
        background-color: var(--Azul);
        color: #ffff;
        display: block;
        max-width: 50px;
        padding: 15px;
        border-radius: 8px;
        text-align: center;
        font-size: 18px;
        margin: auto;
    }
    .main-header-top-bar{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .top-row{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
    .logo,.header-form{
        flex: 1;
        margin: 5px;

    }
    .logo {
        width: 100px;
    }
    .main-header-botton-bar{
        display: none;
    }

    .header-form{
        position: relative;
    }
    .header-form input{
        height: 40px;
        width: 100%;
        padding: 5px;
        border-radius: 5px;
        border: none;
    }
    .header-form a {
        position: absolute;
        top: 14px;
        right: 5px;
    }
   
  
/*----------- Estilos Main ---------------*/
    .main_section_article{
        margin-bottom: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        background-color: #ffff;
    }
    .main_section_article_div{
        width: 100%;
        padding:15px ;
        border-top: 1px solid #ebebeb;
    }
    section article div h4 {
        display: none;
    }
    
    
    .main_article_div_precio_descuento{
        display: flex;
    }
    .main_article_div_precio_descuento p {
        flex-grow: 0.70;
    }
   .precio {
    flex-grow: 0.30;
   }
   main section {
    margin: 0 auto;
    text-align: center;
    width: 90%;
    padding: 4%;
    }
    .main_section_article_div{
        position: relative;
    }

   .fa-truck {
    display: block;
    color: var(--Verde);
    padding-top: 5%;
    border: 1px solid var(--Verde);
    border-radius: 50%;
    position: absolute;
    width: 30px;
    height: 30px;
    right: 15px;
    top: -15px;
    background-color: #fff;
   }
   
/*------ quiebre para tablet -------*/

@media(min-width:361px){
    .main-header-top-bar{
        flex-direction: row; 
    }
   
    .hamburguer-button{
        display: none;
    }
    .main-header-botton-bar{
        display: flex;
        justify-content: space-between;
    }
    .left-navbar,.right-navbar {
        display: flex;

    }
    .left-navbar li,.right-navbar li{
        margin: 0 10px;
    }

    .main_section_article{
        box-shadow: 0px 0px 10px rgb(100,100,100);
    }
    .burger-menu {
        display: none;
    }
    .navBar,.loginBar{
        display: block;
    } 

    form {
        margin-bottom: 0px;
    }
    .main_section_article {
        width: 48%;
    }
   
    main section {
        width: 100%;
        padding: 2%;
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
       }

 /*------- quiebre para desktop -----------*/      
}
@media(min-width:769px){
    
    .main_section_article {
        width: 23%;
    }
}